<div (click)='showMore()' class="zoom card text-center custom-card" style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title">{{employee.FirstName}} {{employee.Surname}}</h4>
    <!-- <p class="card-text">{{employee.Techologies[0]}}</p> -->
    <div class="card-section-left">
      <div class="card-info-group">
          <div class="card-label">Email: </div>
          <div class="card-content">{{employee.Email}}</div>
      </div>
      <div class="card-info-group">
          <div class="card-label">Title:</div>
          <div class="card-content">{{employee.JobTitle}}</div>
      </div>
    </div>
    <div class="card-section-right">
      <div *ngFor="let tech of employee.Technologies" class="tag">
        {{tech}}
      </div>
    </div>
    <a class="btn btn-primary waves-light" [routerLink]="['/main',{outlets: {right: [employee.Id]} }]">
        Show details
    </a>
  </div>
</div>