.photo{
    max-height: 300px;
    width: auto;
}

.img-container{
    margin-top: 10px;
}

.tag{
    font-size: 12px;
    border-radius: 5px;
    background-color: gainsboro;
    width: auto;
    display: inline-block;
    margin: 2px;
    padding: 4px;
}