
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <logo>
        <a class="navbar-brand" href="#">Projects Map</a>
    </logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a [routerLink]="['/main']" class="nav-link waves-light" mdbRippleRadius>Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/managementPage']" *hasClaim="['canWriteProjects:true','claimType2:value']" class="nav-link waves-light">Management</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/login']" class="nav-link waves-light" *ngIf="!securityObject.isAuthenticated">
                    Login
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/registration']" class="nav-link waves-light" *ngIf="!securityObject.isAuthenticated">
                    Registration
                </a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" *ngIf="securityObject.isAuthenticated" dropdown>
                <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                    {{searchTypeText}}
                    <span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a (click)="selectSearchType(1, $event.target.innerText)" class="dropdown-item waves-light" mdbRippleRadius>Pracownicy - nazwiska</a>
                    <a (click)="selectSearchType(2, $event.target.innerText)" class="dropdown-item waves-light" mdbRippleRadius>Pracownicy - technologie</a>
                    <div class="divider dropdown-divider"></div>
                    <a (click)="selectSearchType(3, $event.target.innerText)" class="dropdown-item waves-light" mdbRippleRadius>Projekty - nazwy</a>
                    <a (click)="selectSearchType(4, $event.target.innerText)" class="dropdown-item waves-light" mdbRippleRadius>Projekty - technologie</a>
                </div>
            </li>

        </ul>
        <!-- Links -->

        <!-- Search form -->
        <form class="form-inline waves-light waves-light ml-auto" *ngIf="securityObject.isAuthenticated" mdbRippleRadius>
            <input [formControl]="term" [ngModelOptions]="{standalone: true}" class="form-control mr-sm-2" type="text" placeholder="Search"
                aria-label="Search">
            <!-- [(ngModel)]="filter" -->
        </form>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" *ngIf="securityObject.isAuthenticated" dropdown>
                <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius><i class="fa fa-user"></i> <span class="clearfix d-none d-sm-inline-block">{{securityObject.userName}}</span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a [routerLink]="['/managementPage/employees']" class="dropdown-item waves-light" mdbRippleRadius>Edit</a>
                    <a href="#" (click)="logout()" class="dropdown-item waves-light" *ngIf="securityObject.isAuthenticated">
                        Logout
                    </a>
                </div>
            </li>
        </ul>
        
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->