<!-- <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo justify-content-between">
    <logo>
        <a class="navbar-brand" href="">Navbar</a>
    </logo>

    

    <links>
        <form class="form-inline waves-light waves-light ml-auto" mdbRippleRadius>
            <input [(ngModel)]="filter" [ngModelOptions]="{standalone: true}" class="form-control mr-sm-2" type="text" placeholder="Search"
                aria-label="Search">
            <button (click)='search()' class="btn btn-outline-success btn-sm my-0 waves-light" type="submit" mdbRippleRadius>Szukaj</button>
        </form>
    </links>
</mdb-navbar> -->


<!--Navbar-->

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo fixed-top">

    <!-- Navbar brand -->
    <logo>
        <a class="navbar-brand" href="#">Projects Map</a>
    </logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a [routerLink]="['/main']" class="nav-link waves-light" mdbRippleRadius>Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/managementPage']" class="nav-link waves-light" *hasClaim="'canAccessProducts'">Management</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/login']" *ngIf="!securityObject.isAuthenticated">
                    Login
                </a>
                
                <a href="#" (click)="logout()" class="nav-link waves-light" *ngIf="securityObject.isAuthenticated">
                    Logout {{securityObject.userName}}
                </a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                    {{searchTypeText}}
                    <span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a (click)="selectSearchType(1, $event.target.innerText)" class="dropdown-item waves-light" mdbRippleRadius>Pracownicy - nazwiska</a>
                    <a (click)="selectSearchType(2, $event.target.innerText)" class="dropdown-item waves-light" mdbRippleRadius>Pracownicy - technologie</a>
                    <div class="divider dropdown-divider"></div>
                    <a (click)="selectSearchType(3, $event.target.innerText)" class="dropdown-item waves-light" mdbRippleRadius>Projekty - nazwy</a>
                    <a (click)="selectSearchType(4, $event.target.innerText)" class="dropdown-item waves-light" mdbRippleRadius>Projekty - technologie</a>
                </div>
            </li>

        </ul>
        <!-- Links -->

        <!-- Search form -->
        <form class="form-inline waves-light waves-light ml-auto" mdbRippleRadius>
            <input [formControl]="term" [ngModelOptions]="{standalone: true}" class="form-control mr-sm-2" type="text" placeholder="Search"
                aria-label="Search">
            <!-- [(ngModel)]="filter" -->
        </form>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->