<div class="text-center">
<button class="btn btn-primary waves-light w-50" type="button" (click)="addProject.toggle()" mdbRippleRadius>
	Add new project
</button>
</div>
<div class="" [mdbCollapse]="isCollapsed" #addProject="bs-collapse">
	<form [formGroup]="formAddProject" (ngSubmit)="onSubmit(formAddProject)">
		<div class="md-form">
			<i class="fa fa-info-circle prefix blue-text"></i>
			<input type="text" class="form-control" id="Description" formControlName="Description" mdbActive>
			<span *ngIf="formErrors.Description" class="alert alert-danger">{{ formErrors.Description }}</span>
			<label for="Description">Description</label>
		</div>

		<div class="md-form">
			<i class="fa fa-external-link prefix blue-text"></i>
			<input type="text" class="form-control" id="RepositoryLink" formControlName="RepositoryLink" mdbActive>
			<span *ngIf="formErrors.RepositoryLink" class="alert alert-danger">{{ formErrors.RepositoryLink }}</span>
			<label for="RepositoryLink">Repository Link</label>
		</div>

		<div class="md-form">
			<i class="fa fa-external-link prefix blue-text"></i>
			<input type="text" class="form-control" id="DocumentationLink" formControlName="DocumentationLink" mdbActive>
			<span *ngIf="formErrors.DocumentationLink" class="alert alert-danger">{{ formErrors.DocumentationLink }}</span>
			<label for="DocumentationLink">Documentation Link</label>
		</div>

		<div class="md-form">
			<i class="fa fa fa-industry prefix blue-text" ></i>
			<tag-input
					 	name="Technologies"
						style="margin-left: 3rem; padding: 0 !important"
						inputId ="Technologies"
						formControlName="Technologies"
						secondaryPlaceholder = "Technologies"
						placeholder = "Add Technology"
						modelAsStrings = "true"
					   [addOnBlur]="true"
					   [clearOnBlur]="true">
				<tag-input-dropdown [autocompleteItems]="allTechnologies">
				</tag-input-dropdown>
			</tag-input>
		</div>

		<div class="md-form">
			<i class="fa fa-user-circle prefix blue-text" ></i>
			<tag-input 	formControlName = "Employees"
						name="Employees"
						style="margin-left: 3rem; padding: 0 !important"
						inputId ="Employees"
						secondaryPlaceholder = "Employees"
						placeholder = "Add Employee"
						[addOnBlur]="true"
						[clearOnBlur]="true"
						[onlyFromAutocomplete]="true"
						(onSelect)="onSelect($event)"
					   [separatorKeyCodes]='[9, 188, 32]'>
                <ng-template let-item="item">
					{{item.display}}
                </ng-template>
				<tag-input-dropdown showDropdownIfEmpty = "false"
									focusFirstElement ="true"
									limitItemsTo ="8"
									matchinFn="matching"
									[autocompleteObservable]='requestAutocompleteItems'>
                    <ng-template let-item="item" let-index="index">
						{{item.display}}
                    </ng-template>
                </tag-input-dropdown>
            </tag-input>
		</div>


		<div class="md-form" *ngIf="selectedEmployee">
			<i class="fa fa-puzzle-piece prefix blue-text"></i>
			<input type="text" class="form-control" id="EmployeeRole" [(ngModel)]="selectedEmployee.role" formControlName="EmployeeRole" mdbActive>
			<span *ngIf="formErrors.EmployeeRole" class="alert alert-danger">{{ formErrors.EmployeeRole }}</span>
			<label for="EmployeeRole">#{{selectedEmployee.value}} Employee Role</label>
		</div>
	
		<div class="text-center">
		    <button [disabled]="!formAddProject.valid" type="submit" class="btn btn-blue waves-light" mdbRippleRadius>Submit</button>
		</div>
	</form>
</div>