<div style="color: white">
  <ul>
    <li  *ngFor="let building of buildingsList" [ngClass]="{'building-button':true, 'selected-button': building.Id === selectedBuilding}"  (click)="changeBuilding(building.Id)">{{building.Address}}</li>
    <li   [ngClass]="{'building-button':true,'plus-button':true,  'selected-button': selectedBuilding === 0}" (click)="addNewBuilding()" *hasClaim="['canWriteProjects:true','claimType2:value']">+</li>
  </ul>
</div>
<div style="color: white">
  <ul>
    <li *ngFor="let floor of currentBuildingFloorsList" [ngClass]="{'floor-button':true, 'selected-button': floor.Id === selectedFloor}" (click)="changeFloor(floor.Id)">Floor {{floor.FloorNumber}}</li>
    <li [ngClass]="{'floor-button':true, 'plus-button':true, 'selected-button': selectedFloor === 0}" (click)="addNewFloor()" *hasClaim="['canWriteProjects:true','claimType2:value']">+</li> 
  </ul>
</div>
<!-- <button (click)="debug()">print building</button> -->
<div [ngSwitch]="displayMode">
    <div  *ngSwitchCase="'loading'">
        <p>Am loading</p>
      </div>
  <div  *ngSwitchCase="'displayMap'">
    <app-displayed-map
    [floorToDisplay]= "selectedFloor"
    (mapChanged)="mapChanged($event)">
  </app-displayed-map>
  
  <!-- <label for="editMap" class="btn" style="background-color: blue; color: aqua" *hasClaim="['canWriteProjects:true','claimType2:value']">Edit map</label>
  <input id="editMap" (click)='editMap()' style="visibility:hidden;"> uncomment after fixing edit-->
  </div>
  <div  *ngSwitchCase="'create'">
      <app-map-creator
      [floorDescription] = "''"
      [buildingId] = "selectedBuilding"
      (mapCreated)="mapCreated($event)">
    </app-map-creator>
  </div>
  <div  *ngSwitchCase="'edit'">
      <app-map-creator
      [floorDescription] = "''"
      [buildingId] = "selectedBuilding"
      [loadedFloorId] = "selectedFloor"
      (mapCreated)="mapCreated($event)">
    </app-map-creator>
  </div>
  <div *ngSwitchCase="'addBuilding'">
      <input [(ngModel)]="buildingAddress" #ctrl="ngModel" required placeholder="Address">
      <button (click)='saveNewBuilding()'>OK</button>
  </div>
</div>