.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    position:absolute;
    min-width: 350px;
    max-width: 350px;
    height: 116%;
    margin-top: 10px;
}

#sidebar.active {
    margin-left: -350px;
}

.scrollable {
    height: 100%; /* or any value */
    overflow-y: auto;
}

#content {
    margin-left: 350px;
    /* margin-top: 10px; */
}

.collapse.in {
	display: inline-block;
}