
<div class="container">
  <div class="card card-container">
    <h2 class="text-center">Sign up</h2>
    <form [formGroup]="formRegistration" (ngSubmit)="onSubmit(formRegistration)">

      <div class="md-form">
        <i class="fa fa-envelope prefix blue-text"></i>
        <input type="text" class="form-control" id="Email" formControlName="Email" mdbActive>
        <div *ngIf="formErrors.Email" >
          <div *ngFor="let error of formErrors.Email" class="alert alert-danger row">{{ error }}</div>
        </div>
        <label for="Email">E-mail</label>
      </div>

      <div class="md-form">
        <i class="fa fa-user-secret prefix blue-text"></i>
        <input type="text" class="form-control" id="Username" formControlName="Username" mdbActive>
        <div *ngIf="formErrors.Username" >
          <div *ngFor="let error of formErrors.Username" class="alert alert-danger row">{{ error }}</div>
        </div>
        <label for="Email">Username</label>
      </div>

      <div class="md-form">
        <i class="fa fa-key prefix blue-text"></i>
        <input type="password" class="form-control" id="Password" formControlName="Password" mdbActive>
        <div *ngIf="formErrors.Password" >
          <div *ngFor="let error of formErrors.Password" class="alert alert-danger row">{{ error }}</div>
        </div>
        <label for="Password">Password</label>
      </div>

      <div class="md-form">
        <i class="fa fa-check-circle prefix blue-text"></i>
        <input type="password" class="form-control" id="PasswordConfirm" formControlName="PasswordConfirm" mdbActive>
        <div *ngIf="formErrors.PasswordConfirm" >
          <div *ngFor="let error of formErrors.PasswordConfirm" class="alert alert-danger row">{{ error }}</div>
        </div>
        <label for="PasswordConfirm">Password confirmation</label>
      </div>

      <div class="md-form">
        <i class="fa fa-hashtag prefix blue-text"></i>
        <input type="text" class="form-control" id="DeveloperId" formControlName="DeveloperId" mdbActive>
        <div *ngIf="formErrors.DeveloperId" >
          <div *ngFor="let error of formErrors.DeveloperId" class="alert alert-danger row">{{ error }}</div>
        </div>
        <label for="DeveloperId">Developer ID</label>
      </div>

      <div class="md-form">
        <i class="fa fa-user prefix blue-text"></i>
        <input type="text" class="form-control" id="FirstName" formControlName="FirstName" mdbActive>
        <div *ngIf="formErrors.FirstName" >
          <div *ngFor="let error of formErrors.FirstName" class="alert alert-danger row">{{ error }}</div>
        </div>
        <label for="FirstName">First Name</label>
      </div>

      <div class="md-form">
        <i class="fa fa-user-o prefix blue-text"></i>
        <input type="text" class="form-control" id="Surname" formControlName="Surname" mdbActive>
        <div *ngIf="formErrors.Surname" >
          <div *ngFor="let error of formErrors.Surname" class="alert alert-danger row">{{ error }}</div>
        </div>
        <label for="Surname">Surname</label>
      </div>

    <div class="text-center">
        <button [disabled]="!formRegistration.valid" type="submit" class="btn btn-blue waves-light" mdbRippleRadius>Submit</button>
    </div>
    </form>
  </div><!-- /card-container -->
</div><!-- /container -->