<app-search></app-search>

<!-- <app-map-creator></app-map-creator> -->
<!-- <app-Room></app-Room>   -->
<div class="wrapper">

    <app-listing></app-listing>
    <div id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <!-- <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-align-left"></i>
                        Toggle Sidebar
                    </button> -->
                    <app-map-navigator></app-map-navigator>
                    <!-- <app-map-creator></app-map-creator>
                    <app-displayed-map></app-displayed-map> -->
                </div>
            </div>


        </div>


    </div>

</div>