<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo justify-content-between">
    <logo>
        <a class="navbar-brand" href="">Navbar</a>
    </logo>
    <links>
        <form class="form-inline waves-light waves-light ml-auto" mdbRippleRadius>
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success btn-sm my-0 waves-light" type="submit" mdbRippleRadius>Search</button>
        </form>
    </links>
</mdb-navbar>
            
<app-Room></app-Room>
<app-drawing-board></app-drawing-board>
</div>

